body {
    background-color: #F9FAFC;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

.messages {
    margin: 20px 0;
}

.messages li {
    list-style-type: none;
    padding: 0;
}

.messages .alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: rgb(255, 196, 138);
}
.messages .alert.info {
    background-color: #5bc0de;
}
.messages .alert.success {
    background-color: #eaf1ea;
}
.messages .alert.warning {
    background-color: #f0ad4e;
}
.messages .alert.danger {
    background-color: #d9534f;
}

.copyright {
    padding-top: 2%;
    background-color: #f9f9f9;
    color: #999;
    border-top: 1px solid #ddd;
}

.card {
    padding: 1rem;
}

.divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid #e0e0e0;
}

.user-info-list li {
    padding-top: 2px;
    list-style-type: none;
}
 .user-status p {
    text-align: right;
    padding-right: 2em;
    padding-top: 1em;
 }

mark {
    padding: 0.25em;
    border: #ddd solid 1px;
    font-style: italic;
}

mark.submit {
    background-color: #0d6efd;
    color: black;
    color: #e0e0e0;
}

mark.alert {
    background-color: #ffc107;
    border: #ddd solid 1px;
    color: black;
    padding: 0;
}

mark.delete {
    background-color: #dc3545;
    border: #ddd solid 1px;
    color: white;
}

.note {
    margin-bottom: 1em;
    border: 2px solid #d9534f;
    border-radius: 5px;
    padding: 1em;
    margin: auto;
    margin-top: 1em;
    text-align: center;

}
.note-content {
    font-weight: 400;
}

.note-info {
    font-size: 0.8em;
    font-style: oblique;
    margin-top: 1em;
}

.btn-edit, .btn-delete {
    width: auto;
}