{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% url 'single_quiz' as single_quiz_url %}

{% block content %}

<!-- TODO: add semantic tags -->
<!-- Heading -->
<section class="container text-center pt-5">
    <h1 class="heading">Quizzes</h1>
    <hr class="divider">
    <div>
        <h1>Welcome to TheoryHub!</h1>
        <p>This is a platform where you can find and practice various topics from various fields.</p>
    </div>
</section>


<!-- Quiz List -->
<main class="container">
    {% if user.is_authenticated %}
    <div class="mt-6 quiz-list">
        <hr class="divider">
        <h2>List of Quizzes</h2>
        <ul>
            {% for q in quiz_list %}
            <li class="p-2">
                <a href="{% url 'single_quiz' q.slug %}">{{ q.title }}</a>
                <!-- TODO: add as button with url for each quiz -->
                <span class="badge badge-primary">Last updated on {{ q.updated_on }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <div>
        <h1>Login or Register to access the Quiz List</h1>
        <p>You can learn about various topics from various fields and practice your skills.</p>
        <a href="{% url 'account_login' %}">Login</a> or <a href="{% url 'account_signup' %}">Register</a>
    </div>
    {% endif %}
</main>

{% endblock content %}