{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

{% url 'single_quiz' as single_quiz_url %}

{% block title %}
<h1 class="heading">Quizzes</h1>
{% endblock %}


<div>
    <h1>Welcome to TheoryHub!</h1>
    <p>This is a platform where you can find and practice various topics from various fields.</p>
</div>

<!-- TODO: CONTENT VISIBLE IF SIGNED IN USER -->

{% if user.is_authenticated %}
<div>
    <h1>List of Quizzes</h1>
    <ul>
        {% for q in quiz_list %}
        <li>
             <a href="{% url 'single_quiz' q.id %}">{{ q.title }}</a> <!-- TODO: add button with url for each quiz -->
        </li>
        {% endfor %}
    </ul>

</div>
{% endif %}

{% endblock content %}