{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

<!-- {% block css %} -->
<!--TODO: ADD Quiz-specific STYLES  and crispy form tags <link rel="stylesheet" href="{% static 'css/quiz.css' %}" type="text/css"> -->
<!-- {% endblock %} -->

{% block content %}

<!-- TODO: CREDIT TIM NELSON -->
<!-- TODO:  add function view to render question content in template -->
<!-- TODO: add initial title page of single quiz: quiz title, description. Do not show quiz content until button is clicked. -->
<!-- TODO: add start quiz button, which then reveals the content of the quiz.   -->
<!-- TODO: add confirmation of starting quiz to user. -->
<!-- TODO: add answer options to the quiz questions -->
<!-- TODO: add "Submit Quiz" button functionality to submit the quiz results. -->

<!-- TODO check step 3 where does this go? -->


<!-- class="{% if user.is_authenticated %} container my-5 {% else %} d-none {% endif  %} -->
<section id="quiz-container" class="container">

    <!-- quiz starting page -->
    <div class="row" id="quiz-start-row">
        <div class="col col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="card text-center shadow">
                <div class="card-body">
                    <h5 class="card-title my-4 fw-bold text-p-blue">
                        {{ quiz.title }}
                        <br>
                        <small class="text-muted">{{ quiz.description }}</small>
                    </h5>
                    <div id="quiz-starter-content">
                        <p class="card-text">
                            You will be presented with <strong>{{ questions|length }}</strong>
                            question{{ questions|length|pluralize }}
                        </p>
                        <p><strong>N.B.</strong><br>Some questions are worth 2 points, some are worth one point.</p>
                        <p>
                            When you're ready, click the <strong>Start Quiz</strong> button.
                        </p>
                        <!-- TODO:Add JS to reveal quiz section once clicked?: -->
                        <button id="quiz-start-btn" class="btn btn-success">Start Quiz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}
    <!-- quiz form -->
    <div class="row d-none" id="question-section">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 text-center">
            <form method="post" id="quiz-question-form">
                {% csrf_token %}
                {% for field in answer_form %}
                <div class="form-group mt-3 row card text-center">
                    <!-- question-text -->
                    <h3 class="mt-3 p-3 col-12 question-text">
                        {{ field.label }}
                    </h3>
                    <!-- answer-options -->
                    <div class="answer-options">
                        {{ field }}
                    </div>
                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
                <!-- TODO sort pagination so one question per page and WITH IMAGE -->
                {% if is_paginated %}
                <div class="text-center">
                    <span class="step-links">
                        {% if page.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                {% endif %}
                {% endfor %}
                <!-- TODO: only display submit if user has answers for all qusetions and question is last question of quiz (JS?) -->
                <button type="submit" id="quiz-submit-btn" data-user="{{ user.id }}" class="btn btn-success text-center mt-3 m-auto">Submit Quiz</button>
            </form>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
            <p class="text-center">Please <a href="{% url 'login' %}">login</a> to take the quiz.</p>
        </div>
    </div>
    {% endif %}
</section>

{% endblock content %}


{% block scripts %}
<!-- scripts only for the quiz -->
<script src="{% static 'js/quiz.js' %}"></script>
{% endblock %}