{% extends "base.html" %}
{% load static %}

<!-- {% block css %} -->
<!--TODO: ADD Quiz-specific STYLES  and crispy form tags <link rel="stylesheet" href="{% static 'css/quiz.css' %}" type="text/css"> -->
<!-- {% endblock %} -->

{% block content %}

<!-- TODO: CREDIT TIM NELSON -->
<!-- TODO:  add function view to render question content in template -->
<!-- TODO: add initial title page of single quiz: quiz title, description. Do not show quiz content until button is clicked. -->
<!-- TODO: Add individual quiz url to urls  -->
<!-- TODO: add start quiz button, which then reveals the content of the quiz.   -->
<!-- TODO: add confirmation of starting quiz to user. -->
<!-- TODO: add answer options to the quiz questions -->
<!-- TODO: add a "Submit Quiz" button to submit the quiz results. -->
<!-- TODO: add a "Restart Quiz" button to reset the quiz and start over. -->


<!-- class="{% if user.is_authenticated %} container my-5 {% else %} d-none {% endif  %} -->
<section id="quiz-container">

    <!-- quiz start button -->
    <div class="row" id="quiz-start-row">
        <div class="col col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="card text-center shadow">
                <div class="card-body">
                    <h5 class="card-title my-4 fw-bold text-p-blue">
                        {{ quiz.title }}
                        <br>
                        <small class="text-muted">{{ quiz.description }}</small>
                    </h5>
                    <p class="card-text">
                        You will be presented with <strong>{{ questions|length }}</strong>
                        question{{ questions|length|pluralize }}
                    </p>
                    <p>
                        <!-- TODO: style button -->
                        When you're ready, click the <strong>Start Quiz</strong> button. 
                    </p>
                    <!-- TODO:Add JS to reveal quiz section once clicked?: -->
                    <button id="quiz-start-btn" class="btn btn-ci my-4">Start Quiz</button>
                </div>
            </div>
        </div>
    </div>

    <!-- quiz form -->
    <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
            <!-- TODO: Add post request view via quiz form-->
            <!-- TODO: add submit quiz to form with: action=" url 'submit_quiz' quiz.id "> -->
            <form id="quiz-form" class="hide full" method="POST">
                {% csrf_token %}
                <!-- TODO: add track total duration of entire quiz to FUTURE FEATURES -->
                <input type="hidden" id="duration" name="duration" value="0">

                <!-- cycle through all questions -->
                {% for question in questions %}

                <fieldset id="card-set-{{ forloop.counter }}{% if forloop.last %}-last{% endif %}"
                    class="card shadow {% if not forloop.first %}hide full{% endif %}">
                    <!-- display the question content -->
                    <div class="question-content">
                        <img src="{{ question.question_image }}" alt="question image">
                        <h6>{{ question.question_text }}</h6>
                    </div>

                    <!-- display the answer options -->
                    <div class="answer-options">
                        {% for answer in question.answers.all %}
                        <div class="form-check">
                            <!-- TODO: check template logic for input value  -->
                            <input class="form-check-input" type="radio" name="{{ question_id }}" id="{{ answer.answer_option }}"
                                value="{% if answer.correct %} question.points {% else %} 0 {% endif %}">
                            <label class="form-check-label" for="{{ answer.answer_option }}">
                                {{ answer.answer_content }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- next && submit buttons -->
                    {% if not forloop.last and questions|length > 1 %}
                    <!-- "next" button for each question, except the final question -->
                    <div class="card-footer bg-p-grey text-t-grey {% if not forloop.first %}hide full{% endif %}"
                        id="card-next-btn-{{ forloop.counter }}">
                        <div class="d-flex justify-content-center">
                            <button id="next-btn-{{ forloop.counter }}" class="btn-ci">Next</button>
                        </div>
                    </div>
                    {% else %}
                    <!-- replace "next" button with the "submit" button -->
                    <div class="card-footer bg-p-grey text-t-grey {% if questions|length > 1 %}hide full{% endif %}"
                        id="card-next-btn-{{ forloop.counter }}">
                        <div class="d-flex justify-content-center">
                            <button type="submit" id="quiz-submit-btn" data-submit="{{ forloop.counter }}"
                                class="btn-ci">Submit</button>
                        </div>
                    </div>
                    {% endif %}

                </fieldset>
                {% endfor %}

            </form>
        </div>
    </div>
</section>

{% endblock %}


{% block js %}
<!-- TODO: EDIT -->
<!-- scripts only for the quiz -->
<script src="{% static 'js/quiz.js' %}"></script>
{% endblock %}