{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% block title %}Dashboard{% endblock %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4">Dashboard</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Profile</h2>
                <hr>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <strong>Hello {{ user.username }}</strong>
                            <!-- TODO: Add list of quizzes completed -->
                            <!-- TODO:  update user name? CHECK USER STORIES and ensure meet all crud functionality for assessment requirements-->
                            <!-- TODO:  -->
                            <!-- TODO:  -->
                        </h5>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}