{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% url 'quiz_notes' as quiz_notes_url %}

{% block title %}Dashboard tabs could go here {% endblock %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4">Dashboard</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- TODO add image? -->
            <h2>Profile</h2>
            <hr>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <strong>Hello <i class="font-weight-bold">{{ user.username }}</i></strong>
                        <!-- TODO: Add list of quizzes completed -->
                        <!-- TODO:  update user name? CHECK USER STORIES and ensure meet all crud functionality for assessment requirements-->
                        <!-- TODO:  -->
                        <!-- TODO:  -->
                    </h5>
                    <a href="{% url 'quiz_notes' %}" class="">Notes page</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p>
            here is the form
        </p>
        <form method="POST">

            {{ quiz_note_form|crispy}}
            {% csrf_token %}
            <button type="submit" method="POST" id="submitButton" class="btn btn-primary btn-md">Submit</button>
        </form>
    </div>



    <!-- TODO add link to notes -->
    <!-- TODO add url for notes page -->
    {% endblock content %}