{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% url 'new_note' as new_note_url %}

{% block content %}

{% block new_note %}
<section class="new-note">
    <div class="card">
        <div class="card-body">
            <form method="post" style="margin-top: 1.3em" id="noteForm">
                {{ quiz_note_form|crispy}}
                {% csrf_token %}
                <button type="submit" id="submitNoteButton" class="btn btn-primary btn-md">Submit</button>
            </form>
        </div>
    </div>
</section>
<p>Make link for new note page</p>
{% endblock %}

<!-- Notes List -->
<section id="notes-list" class="container">
    {% if user.is_authenticated %}
    <div class="row" id="notes">
        <div class="col col-md-8">
            <h5 id="notes-list">Notes Collection:</h5>
            <div class="card-body">
                {% for note in notes_list %}
                <div class="card {% if not note.user == user %} d-none {% endif %}">
                    <p class="p-2 faded">Created by: {{ note.user }} at: {{ note.created_at }}</p>
                    <div id="note{{ note.id }}">
                        <p class="font-weight-bold note-content">{{ note.note | linebreaks }}</p>
                    </div>
                    {% if user.is_authenticated and note.user == user %}
                    <button class="btn btn-edit btn-warning" data-note_id="note{{ note.id }}">Edit</button>
                    <button class="btn btn-delete btn-danger" data-note_id="note{{ note.id }}">Delete</button>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% endif %}
            <!-- Delete confirmation modal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete note?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete your note?
                            This action cannot be undone.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>


{% endblock content %}

{% block scripts %}
<script src="{% static 'js/edit_note.js' %}"></script>

{% endblock scripts %}