{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block quiz_notes %}

<!-- Display quiz_note -->
<!-- TODO style quiz notes using quiz_note class -->
<div class="row quiz_note">
    <div class="col-md-6">
        <!-- TODO make quiz_note accessible model -->
        {% if quiz_note %}
        <h1>Quiz Notes</h1>
        <!-- add quiz_notes to view for this template -->
        {% for single_note in quiz_note %}
        <!-- only show notes created by the user -->
        <div class="card {% if not note.user == user %} d-none {% endif %}" id="note {{ note. id }}">
            <div class="card-body">
                <h5 class="font-weight-bold">{{ single_note.note }}</h5>
                <br>
                <p class="p-2 faded">Created by: {{ single_note.author }} at: {{ single_note.created_on }}</p>
            </div>
        </div>
        {% endfor %}

        {% elif user.is_authenticated and not quiz_note %}
        <!-- create quiz_note -->
        <div class="make-quiz-note">
            <p class="card-text" style="text-align: center;">You have not created any notes for this quiz yet.</p>
            <p>Click the button below to create a note.</p>
            <p>Posting as: {{ user.username }}</p>
            <form action="post" style="margin-top: 1.3em">
                {{ quiz_note_form|crispy }}
                {% csrf_token %}
                <!-- TODO make post request  -->
                <!-- a href= url 'create_quiz_note' quiz.id user.id " class="btn btn-primary">Create Note</a> -->
            </form>
        </div>


    </div>
</div>
<!-- TODO add delete comment with modal  -->

{% endif %}
{% endblock quiz_notes %}