{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

{% url 'quiz_list' as quiz_list_url %}


<div class="card about-section">
    <div class="card-body">
        <h5 class="card-title text-center">About TheoryHub</h5>
        <!-- TODO: edit about text -->
         <h3 class="page-title text-center">{{ about_list.title }}</h3>
    </div>
    <div class="card-text text-center">
        {{ about_list.content | safe }}
    </div>
    <div class="links">
        <a href="{{ quiz_list_url }}" class="btn btn-primary">Quiz List</a>
    </div>
</div>
{% endblock content %}